[python: **.py]

[jinja2: **/templates/**.jhtml]
# enable {% trans %} and gettext-style calls in Jinja
extensions = jinja2.ext.i18n

encoding  = utf-8
# mark _() and ngettext() as gettext keywords
keywords  = _ ngettext:1,2